streamlit>=1.41,<1.60
pyarrow>=16,<20
numpy>=2.0,<2.3
pandas>=2.2,<2.3
pymupdf>=1.25,<1.26
presidio-analyzer>=2.2
phonenumbers>=8.13
spacy>=3.8,<3.9
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
pydantic>=2.10
pydantic-settings>=2.7

pyinstaller>=6.14,<7
